@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background dark:bg-gray-950 font-geist;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Variables */
:root {
  @apply [--main-sidebar-width:0rem] [--margin-x:1rem] [--sidebar-panel-min-width:64px] [--sidebar-panel-width:300px] md:[--margin-x:1.5rem] md:[--sidebar-panel-width:220px] lg:[--main-sidebar-width:0rem] xl:[--margin-x:4rem];
}

.has-min-sidebar {
  @apply xl:[--margin-x:1.5rem];
}

.is-sidebar-open {
  @apply xl:[--margin-x:1.5rem];
}

@layer base {
  :root {
    --background: 220, 27%, 98%; /* #f8f9fb */
    --foreground: 0, 0%, 20%; /* #333333 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 0, 0%, 20%; /* #333333 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 240 10% 3.9%;
    --primary: 234, 45%, 49%; /* #4551b7 */
    --primary-foreground: 0 0% 98%; /* #ffffff */
    --secondary: 220, 14%, 96%; /* #f3f4f6 */
    --secondary-foreground: 215, 14%, 34%; /* #4b5563 */
    --muted: 210, 20%, 98%; /* #f9fafb */
    --muted-foreground: 220, 9%, 46%; /* #6b7280 */
    --accent: 228, 63%, 97%; /* #f2f4fc */
    --accent-foreground: 224, 64%, 33%; /* #1e3a8a */
    --destructive: 0, 84%, 60%; /* #ef4444 */
    --destructive-foreground: 0 0% 98%; /* #ffffff */
    --border: 217, 37%, 93%; /* #e7ecf4 */
    --input: 220, 13%, 91%; /* #e7ecf4 */
    --ring: 13, 73%, 55%; /* #e05d38 */
    --chart-1: 210, 37%, 65%; /* #86a7c8 */
    --chart-2: 13, 73%, 75%; /* #eea591 */
    --chart-3: 213, 30%, 50%; /* #5a7ca6 */
    --chart-4: 217, 36%, 43%; /* #466494 */
    --chart-5: 221, 44%, 35%; /* #334c82 */
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%; /* #ffffff */
    --sidebar-foreground: 0, 0%, 20%; /* #333333 */
    --sidebar-primary: 13, 73%, 55%; /* #e05d38 */
    --sidebar-primary-foreground: 0, 0%, 100%; /* #ffffff */
    --sidebar-accent: 208, 46%, 89%; /* #d6e4f0 */
    --sidebar-accent-foreground: 224, 64%, 33%; /* #1e3a8a */
    --sidebar-border: 220, 13%, 91%; /* #e5e7eb */
    --sidebar-ring: 13, 73%, 55%; /* #e05d38 */
  }
  .dark {
    --background: 219, 29%, 15%; /* #1c2433 */
    --foreground: 0, 0%, 90%; /* #e5e5e5 */
    --card: 224, 21%, 21%; /* #2a3040 */
    --card-foreground: 0, 0%, 90%; /* #e5e5e5 */
    --popover: 223, 19%, 18%; /* #262b38 */
    --popover-foreground: 0, 0%, 90%; /* #e5e5e5 */
    --primary: 234, 45%, 49%; /* #4551b7 */
    --primary-foreground: 0, 0%, 100%; /* #ffffff */
    --secondary: 222, 19%, 20%; /* #2a303e */
    --secondary-foreground: 0 0% 98%; /* #e5e5e5 */
    --muted: 222, 19%, 20%; /* #2a303e */
    --muted-foreground: 0, 0%, 64%; /* #a3a3a3 */
    --accent: 224, 16%, 28%; /* #3d4354 */
    --accent-foreground: 213, 97%, 87%; /* #bfdbfe */
    --destructive: 0, 84%, 60%; /* #ef4444 */
    --destructive-foreground: 0, 0%, 100%; /* #ffffff */
    --border: 224, 16%, 28%; /* #3d4354 */
    --input: 224, 16%, 28%; /* #3d4354 */
    --ring: 13, 73%, 55%; /* #e05d38 */
    --chart-1: 210, 37%, 65%; /* #86a7c8 */
    --chart-2: 12, 64%, 73%; /* #e6a08f */
    --chart-3: 213, 30%, 50%; /* #5a7ca6 */
    --chart-4: 217, 36%, 43%; /* #466494 */
    --chart-5: 221, 44%, 35%; /* #334c82 */
    --sidebar-background: 223, 20%, 21%; /* #2a303f */
    --sidebar-foreground: 0, 0%, 90%; /* #e5e5e5 */
    --sidebar-primary: 13, 73%, 55%; /* #e05d38 */
    --sidebar-primary-foreground: 0 0% 100%; /* #ffffff */
    --sidebar-accent: 224, 34%, 25%; /* #2a3656 */
    --sidebar-accent-foreground: 213, 97%, 87%; /* #bfdbfe */
    --sidebar-border: 224, 16%, 28%; /* #3d4354 */
    --sidebar-ring: 13, 73%, 55%; /* #e05d38 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark:text-primary-foreground;
  }

  body {
    @apply font-sans text-sm leading-5 text-slate-800 antialiased [text-rendering:optimizeLegibility] dark:[color-scheme:dark];
  }

  body.is-monochrome::before {
    @apply pointer-events-none fixed inset-0 z-[999999] -m-[5rem] h-[calc(100%+10rem)] w-[calc(100%+10rem)] backdrop-grayscale backdrop-opacity-[.92] content-[''];
  }
}
/* Sidebar Toggle Button */
.menu-toggle span {
  @apply h-[2px] w-5 translate-x-0 bg-current transition-all duration-200 ease-in-out;
}

.menu-toggle span:nth-child(2) {
  @apply w-3;
}

.menu-toggle.active span {
  @apply ml-2 w-[11px] -translate-x-2;
}

.menu-toggle.active span:nth-child(1) {
  @apply -rotate-45;
}

.menu-toggle.active span:nth-child(2) {
  @apply hidden;
}

.menu-toggle.active span:nth-child(3) {
  @apply rotate-45;
}

/* Sidebar */
.main-sidebar {
  @apply fixed left-0 top-0 z-40 h-full w-[var(--main-sidebar-width)] shrink-0 -translate-x-full transform-gpu transition-transform duration-200 ease-in md:z-[60] md:translate-x-0;
}

.is-sidebar-open .main-sidebar {
  @apply translate-x-0;
}

.sidebar-panel {
  @apply fixed md:animate-slide-right left-0 top-0 z-30 h-full w-[calc(var(--main-sidebar-width)+var(--sidebar-panel-width))] -translate-x-full transform-gpu transition-transform delay-150 duration-200 ease-in dark:shadow-navy-900/60 md:delay-0;
}

.is-sidebar-open .sidebar-panel {
  @apply translate-x-0 ease-out;
}

.sidebar-panel-min {
  @apply fixed z-40 h-full w-[var(--sidebar-panel-min-width)] shrink-0 -translate-x-full transform-gpu border-r border-solid border-gray-200 transition-transform duration-200 ease-in dark:border-gray-700 dark:shadow-navy-900/60 md:translate-x-[var(--main-sidebar-width)];
}

.is-sidebar-open .sidebar-panel-min {
  @apply -translate-x-full;
}

/* Header */
nav.header {
  @apply fixed right-0 top-0 z-20 flex h-[61px] w-full border-b border-border transition-all duration-200 dark:border-navy-700 md:w-[calc(100%-var(--main-sidebar-width))];
}

nav.header:before {
  @apply absolute -left-[calc((100vw-100%))] h-full w-[calc(100vw-100%)] content-[''];
}

nav.header .header-container {
  @apply px-[var(--margin-x)] transition-[padding,width] duration-200;
}

.has-min-sidebar nav.header {
  @apply md:w-[calc(100%-(var(--main-sidebar-width)+var(--sidebar-panel-min-width)))];
}

.is-sidebar-open nav.header {
  @apply xl:w-[calc(100%-(var(--main-sidebar-width)+var(--sidebar-panel-width)))];
}

.is-header-blur nav.header .header-container {
  @apply backdrop-blur supports-[backdrop-filter]:bg-white dark:supports-[backdrop-filter]:bg-background;
}

.is-header-not-sticky nav.header {
  @apply absolute;
}

/* Main content */
.main-content {
  @apply mt-[60px] bg-background py-6 pl-11 pr-8 transition-[width,margin-left,margin-right,padding-left,padding-right] duration-200 ease-in md:ml-[var(--main-sidebar-width)] print:m-0;
}

.has-min-sidebar .main-content {
  @apply md:ml-[calc(var(--main-sidebar-width)+var(--sidebar-panel-min-width))];
}

.is-sidebar-open .main-content {
  @apply ease-out xl:ml-[calc(var(--main-sidebar-width)+var(--sidebar-panel-width))];
}

/* Sideblock styles */
.navigation\:sideblock {
  @apply [--sideblock-width:260px];
}

.navigation\:sideblock .sidebar-panel {
  @apply w-[var(--sideblock-width)] -translate-x-full;
}

.navigation\:sideblock.is-sidebar-open .sidebar-panel {
  @apply translate-x-0;
}

.navigation\:sideblock nav.header {
  @apply w-full;
}

.navigation\:sideblock.is-sidebar-open nav.header {
  @apply xl:w-[calc(100%-(var(--sideblock-width)))];
}

.navigation\:sideblock .main-content {
  @apply ml-0;
}

.navigation\:sideblock.is-sidebar-open .main-content {
  @apply xl:ml-[var(--sideblock-width)];
}

/* Navigation Horizontal */
.navigation\:horizontal nav.header {
  @apply w-full sm:h-auto;
}

.navigation\:horizontal .main-content {
  @apply ml-0 sm:mt-28;
}

/* Fix 100vh issue for phones */
.h-100vh {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.min-h-100vh {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

/* Demo inline space */
.inline-space > :not([hidden]) {
  @apply mb-2.5 mr-2.5;
}


/* Scrollbar styles */
.is-scrollbar-hidden {
  @apply [scrollbar-width:none]; /* Firefox */
}

.is-scrollbar-hidden::-webkit-scrollbar {
  @apply hidden;
}

@supports selector(::-webkit-scrollbar) {
  .scrollbar-sm::-webkit-scrollbar {
    @apply size-1.5;
  }

  .scrollbar-sm:hover::-webkit-scrollbar-thumb,
  .scrollbar-sm:focus-within::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300/80 dark:bg-navy-400;
  }

  .scrollbar-sm::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-navy-300;
  }
}

.d-list {
  margin: 0;
}

.d-list .d-item {
  @apply flex items-center gap-1 border-b pb-2.5 dark:border-navy-400;
}

.d-list .d-item:last-child {
  @apply border-none pb-0;
}

.d-list > :not([hidden]) ~ :not([hidden]) {
  @apply mt-2;
}

.d-list .d-item .d-label {
  @apply min-w-32 max-w-48 flex-shrink-0 overflow-hidden text-ellipsis whitespace-nowrap font-medium text-navy-400 dark:text-navy-200;
}

.d-list .d-item .d-content {
  word-break: break-all;
  @apply line-clamp-1 flex items-center text-sm text-black dark:text-navy-50;
}

/* app-preloader */
.app-preloader .app-preloader-inner::after,
.app-preloader .app-preloader-inner::before {
  @apply absolute top-0 left-0 h-full w-full rounded-full bg-slate-300/[.25] content-[''] dark:bg-navy-300/50;
  animation: spinner-grow 3s cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;
}

.app-preloader .app-preloader-inner::after {
  animation-delay: -1.5s;
}

.link {
  @apply font-medium text-primary underline-offset-4 hover:underline;
}

/* Setting sub menu */
.setting-sub-menu {
  @apply flex w-full items-center space-x-2 rounded-lg px-4 py-2.5 font-medium tracking-wide text-navy-400 outline-none transition-all hover:bg-slate-100 hover:text-navy-900 focus:bg-slate-100 focus:text-slate-800 dark:text-navy-100 dark:hover:bg-navy-500 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100
}

.setting-sub-menu.active {
  @apply bg-primary text-white hover:bg-primary hover:text-white focus:bg-primary focus:text-white dark:bg-background dark:text-white dark:hover:bg-background dark:hover:text-white dark:focus:bg-background dark:focus:text-white
}

.required::after {
  @apply text-red-500 ml-0.5 font-bold;
  content: "*";
}

.input-error {
  @apply !border-red-500 hover:border-red-500 focus-visible:!border-red-500 focus-visible:!ring-red-500 dark:!border-red-400 dark:focus-visible:!ring-red-400;
}

.error-message {
  @apply text-xs capitalize text-red-500 dark:text-red-400
}

.shadow-card {
  box-shadow: rgba(145, 145, 145, 0.1) 0px 4px 12px;
}

.shadow-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button-link {
  @apply font-medium text-primary underline-offset-4 hover:underline
}

.content-center {
  @apply flex w-full animate-slide-up flex-col items-center
}

.content-center .card-center {
  @apply w-full lg:w-1/2
}

/* HTML: <div class="loader"></div> */
.loading-spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #4551b7;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}